body {
    font-family: Roboto;
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0%;
    display: flex;
    gap: 25px;
    margin-right: 25px;
}

a,.hero-second-text {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.header-section { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 25px;
}

.header-section,.hero-section {
    background-color: #1F2937;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

}

.hero-section {
    display: flex;
    padding: 90px 25px;
    gap: 30px;
}

.hero-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-right{
    width: 600px;
}

.hero-second-text {
    flex: 1;
}

.hero-button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    border: 0px;
    width: fit-content;
    padding: 6px 20px;
}